<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <TargetFramework>net5.0</TargetFramework>
    <ProjectGuid>56319701-1e74-47de-93b2-dfe0103a8782</ProjectGuid>
    <SelfContained>false</SelfContained>
    <publishUrl>ftps://vh178.by1970.hb.by</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
    <FtpPassiveMode>True</FtpPassiveMode>
    <FtpSitePath>httpdocs</FtpSitePath>
    <UserName>ftp_vh178</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>